<div class="container py-5">

    <div class="text-center mb-4">
        <h2 class="fw-bold text-primary">CONTÁCTANOS</h2>
    </div>


    <div class="card mb-5 shadow-sm">
        <div class="card-body">
            <h5 class="card-title fw-semibold">Consentimiento de Publicidad</h5>
            <p class="card-text text-justify">
                Considerando la vigencia del Decreto Legislativo Nº 1390 (Restricciones a la difusión de publicidad masiva) y, siendo LAS ACADEMIAS ADUNI Y CÉSAR VALLEJO respetuosos del ordenamiento jurídico vigente, le solicitamos nos brinde su consentimiento para mantenerlo informado acerca de nuestros diferentes servicios a través del envío de nuestra publicidad.
                <br><br>
                La información brindada se utilizará exclusivamente para el envío de publicidad, por lo que se encontrará protegida por la Ley Nº 29733 - Ley de Protección de datos personales.
            </p>
        </div>
    </div>


    <div class="text-center mb-3">
        <h2 class="fw-bold text-secondary">INFORMES</h2>
    </div>

    <div class="card shadow-sm">
        <div class="card-body text-center">
            <h5 class="fw-semibold">¿Deseás información sobre nuestros ciclos o servicios?</h5>
            <p class="mb-1">Podés comunicarte con nosotros a través de nuestra central telefónica:</p>
            <p class="text-primary fs-5 fw-bold">📞 Teléfono: 923 407 296</p>
        </div>
    </div>
</div>



